#container {
  width: 100%;
  height: 100%;
  position: absolute;
}

tr {
  height: 100%;
}

#left {
  background: #161616;
  width: 82px;
  vertical-align: top;
}

#middle {
  background: #262626;
  width: 232px;
  vertical-align: top;
}

#right {
  background: #363636;
  width: auto;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#btn-home,
#btn-add-server,
#btn-find-server {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #403d3b;
}

.left-icons:hover {
  cursor: pointer;
}

#middle-search-bar-container {
  border-bottom: 2px solid black;
}

#middle-search-bar {
  border: none;
  background: black;
  color: #7d7674;
  margin-bottom: 0.55rem;
}

#middle-main-header {
  color: #7d7674;
  text-transform: uppercase;
  font-weight: bold;
}

#friend-tag {
  border-right: 2px solid #7d7674;
}

#friend-icon {
  width: 24px;
  height: 24px;
}

#friend-title {
  display: inline-block;
  color: white;
  font-weight: bold;
}

#friend-nav {
  border-color: black;
  border-width: 2px;
}

.friends-nav-link {
  color: white;
}

#friend-table-header {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #7d7674;
}

.friend-header-separator {
  color: #7d7674;
}

#friend-column-name,
#friend-column-status,
#friend-column-actions {
  text-transform: uppercase;
  font-weight: bold;
  color: #706667;
}

#friend-column-name {
  flex-grow: 1;
  margin-left: 1.25rem;
}

#friend-column-status {
  flex-grow: 1;
}

#friend-column-actions {
  flex-grow: 2;
}
